.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.video-card {
  display: flex;
  align-items: center;
  border: 1px solid white;
  gap: 40px;
  padding-right: 40px;
}
