@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #191970;
  --accent-color: #00c957;
  --background-color: #333333;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
